---
layout: default
title: 归档
permalink: /archive/
---

{% assign posts_by_year = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
{% for year in posts_by_year %}
    <h3>{{ year.name }}年归档</h3>
    <section>
        {% for post in year.items %}
            <a href="{{ post.url }}" class="archive">
                <span class="title">{{ post.title }}</span>
                <span class="pubdate">{{ post.date | date: "%m月%d日" }}</span>
            </a>
        {% endfor %}
    </section>
{% endfor %}
